* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: linear-gradient(95deg, #fff, #f47bc8, rgb(248, 244, 245));
  overflow-x: hidden;
}

/* Navbar */
.glass {
  border: none;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.15));
  backdrop-filter: blur(30px)saturate(180%);
  -webkit-backdrop-filter: blur(30px)saturate(180%);
  border: 0.5px solid rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  transition: all 0.25s ease;
  border-radius: 999px;
  color: white;
}
#navbar {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  color: rgb(12, 12, 12);
}
.login {
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}
#navbar a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin: 0 15px;
}
.navbar {
  position: fixed;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px 8%;
  align-items: center;
  width: 100%;
  z-index: 1;
}
.logo-img {
  background-size: cover;
  width: 130px;
  height: 40px;
}
.logo {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 172px;
  height: 55px;
}
nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #555;
  position: relative;
}
nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #c02b93;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
nav a:hover::after {
  width: 100%;
}

/* Hero */
.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  gap: 100px;
  margin: 0;
  padding-top: 170px;
}
#hero-img {
  content: "";
  inset: 0;
  display: flex;
  background-size: cover;
  width: 80%;
  height: auto;
  margin-top: -15vh;
  box-shadow: 10px 10px 10px 10px rgba(72, 7, 53, 0.2);
}
.hero-text {
  max-width: 550px;
}
.hero h1 {

  font-size: 52px;
  color: #7a1b5e;
  margin-top: 7vh;
}
.hero p {
  margin-top: 15px;
  color: #666;
  font-size: 17px;
}
.hero-buttons {
  margin-top: 30px;
}
.btn {
  padding: 14px 30px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease;
}
.primary {
  background: linear-gradient(135deg, #c02b93, #8e1d63);
  color: #fff;
  box-shadow: 0 10px 30px rgba(192, 43, 147, 0.4);
}
.primary:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 40px rgba(192, 43, 147, 0.6);
}
.outline {
  margin-left: 15px;
  background: transparent;
  border: 1px solid #c02b93;
  color: #c02b93;
}
.outline:hover {
  background: #c02b93;
  color: #fff;
}
.alum-badge {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #b02a8f;
  color: #fff;
  padding: 18px 34px;
  border-radius: 22px;
  box-shadow: 0 18px 40px rgba(176, 42, 143, 0.35);
  position: absolute;
  right: 30px;
}
.badge-top {
  font-size: 13px;
  letter-spacing: 1.5px;
  opacity: 0.9;
  margin-bottom: 4px;
}
.badge-main {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}
.hero-image img {
  position: relative;
  top: -25px;
  width: 90%;
  height: auto;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s forwards;
}
.delay {
  animation-delay: 0.4s;
}
.delay2 {
  animation-delay: 0.8s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    width: 280px;
  }

  .outline {
    margin-left: 0;
    margin-top: 15px;
  }
}

/* featured collection */
.featured-section {
  padding: 100px 20px;
  background: linear-gradient(to bottom, #ffffff, #faf7f9);
  text-align: center;
}
.featured-header h2 {
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 10px;
}
.featured-header p {
  color: #777;
  font-size: 18px;
  margin-bottom: 80px;
}
.product-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}
.product-card {
  background: #fff;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
}
.product-card.active {
  border: 1.5px solid #e6a3d5;
  box-shadow: 0 30px 70px rgba(176, 42, 143, 0.18);
}
.product-card:hover{
  transform: translateY(-6px);
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.08);
}
.product-image {
  padding: 40px;
}
.product-image img {
  width: 100%;
  max-height: 320px;
  object-fit: contain;
}
.product-info {
  padding: 35px;
  text-align: left;
}
.category {
  font-size: 12px;
  letter-spacing: 2px;
  color: #999;
}
.product-info h3 {
  font-size: 28px;
  margin: 12px 0;
}
.product-info p {
  color: #666;
  line-height: 1.7;
  margin-bottom: 30px;
}
.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 26px;
  color: #b02a8f;
  font-weight: 500;
}
.cart-btn {
  background: #b02a8f;
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}
.cart-btn:hover {
  background: #9b237d;
}
.view-all {
  margin-top: 80px;
}

.view-btn {
  background: #fff;
  border: 1px solid #ddd;
  padding: 16px 40px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .featured-header h2 {
    font-size: 38px;
  }
}


/* about section */
.about-section {
  padding: 100px 20px;
  background: linear-gradient(to bottom, #ffffff, #faf7f9);
  text-align: center;
}
.about-title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 50px;
}
.about-card {
  max-width: 1000px;
  margin: auto;
  background: #fff;
  padding: 60px;
  border-radius: 40px;
  box-shadow: 0 0 25px  rgba(127, 3, 102, 0.758);
  text-align: left;
}

.about-card p {
  font-size: 18px;
  color: #555;
  line-height: 1.8;
  margin-bottom: 25px;
}

/* HIGHLIGHT WORDS */
.highlight {
  color: #b02a8f;
  font-weight: 500;
}

/* TAGLINE */
.about-tagline {
  text-align: center;
  margin-top: 40px;
  font-size: 22px;
  color: #b02a8f;
  font-weight: 500;
}

/* FEATURES */
.about-features {
  margin-top: 80px;
  max-width: 1200px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 40px;
}

/* FEATURE CARD */
.feature-card {
  background: #fff;
  padding: 40px 25px;
  border-radius: 28px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

.feature-icon {
  width: 60px;
  height: 60px;
  margin: auto;
  background: #b02a8f;
  color: #fff;
  border-radius: 18px;
  display: grid;
  place-items: center;
  font-size: 26px;
  margin-bottom: 20px;
}

.feature-card h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-title {
    font-size: 36px;
  }

  .about-card {
    padding: 35px 25px;
  }
}


.testimonials {
  padding: 100px 20px;
  background: linear-gradient(to bottom, #ffffff, #faf7f9);
  text-align: center;
}

.testimonials-header h2 {
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 10px;
}

.testimonials-header p {
  color: #777;
  font-size: 18px;
  margin-bottom: 70px;
}

.testimonial-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

.testimonial-card {
  background: #fff;
  padding: 40px 35px;
  border-radius: 28px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
  text-align: left;
  transition: 0.3s ease;
}


.testimonial-card.active {
  border: 1.5px solid #e6a3d5;
  box-shadow: 0 25px 60px rgba(176, 42, 143, 0.15);
}


.stars {
  color: #b02a8f;
  font-size: 22px;
  letter-spacing: 4px;
  margin-bottom: 25px;
}


.review {
  font-style: italic;
  font-size: 17px;
  color: #666;
  line-height: 1.7;
  margin-bottom: 40px;
}


.divider {
  width: 100%;
  height: 1px;
  background: #eee;
  margin-bottom: 20px;
}


.name {
  font-size: 18px;
  font-weight: 500;
  color: #222;
}


.testimonial-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.08);
}


@media (max-width: 768px) {
  .testimonials-header h2 {
    font-size: 38px;
  }
}



.faq-section {
  background: #faf7f9;
  padding: 80px 20px;
  text-align: center;
}

.faq-header {
  max-width: 700px;
  margin: auto;
}

.faq-header h2 {
  font-size: 34px;
  margin-bottom: 10px;
}

.faq-header p {
  color: #777;
  font-size: 15px;
}

.faq-icon {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 14px;
  background: #b02a8f;
  color: #fff;
  font-size: 28px;
  display: grid;
  place-items: center;
  margin-bottom: 20px;
}

.faq-container {
  max-width: 900px;
  margin: 50px auto 0;
  background: #ffffff;
  border-radius: 24px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(207, 14, 130, 0.74);
}

.faq-item {
  border: 1px solid #eee;
  border-radius: 16px;
  margin-bottom: 14px;
  overflow: hidden;
}

/* hide checkbox */
.faq-item input {
  display: none;
}

.faq-question {
  padding: 22px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666;
}

.icon {
  transition: transform 0.3s;
}


.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 22px;
  color: #666;
  line-height: 1.6;
  transition: max-height 0.4s ease, padding 0.3s ease;
}


.faq-item input:checked~.faq-answer {
  max-height: 300px;
  padding-bottom: 22px;
}

.faq-item input:checked+.faq-question {
  color: #b02a8f;
}

.faq-item input:checked+.faq-question .icon {
  transform: rotate(180deg);
}

.faq-item:has(input:checked) {
  border-color: #f1a3d3;
}

/* AUTO-CLOSE OTHERS */
.faq-container:has(#faq1:checked) #faq2:checked,
.faq-container:has(#faq1:checked) #faq3:checked,
.faq-container:has(#faq2:checked) #faq1:checked,
.faq-container:has(#faq2:checked) #faq3:checked,
.faq-container:has(#faq3:checked) #faq1:checked,
.faq-container:has(#faq3:checked) #faq2:checked {
  pointer-events: none;
}

.faq-footer {
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}

.faq-footer a {
  color: #b02a8f;
  text-decoration: none;
  font-weight: 500;
}

/* NEWSLETTER */
.newsletter {
  background: #2a2a2a;
  text-align: center;
  padding: 70px 20px;
}

.newsletter h2 {
  font-size: 32px;
  margin-bottom: 12px;
  color: #b02a8f;
}

.newsletter p {
  color: #bdbdbd;
  margin-bottom: 30px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.newsletter-form input {
  width: 320px;
  padding: 14px 20px;
  border-radius: 50px;
  border: 1px solid #555;
  background: #3a3a3a;
  color: #fff;
  outline: none;
}

.newsletter-form button {
  padding: 14px 30px;
  border-radius: 50px;
  border: none;
  background: #b02a8f;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.newsletter-form button:hover {
  background: #d43fa9;
}

/* FOOTER */
.footer {
  background: #2a2a2a;
  padding: 60px 20px 20px;
}

.footer-column h4 {
  color: #b02a8f;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer-brand img {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.footer-brand h3 {
  font-size: 28px;
  margin-bottom: 12px;
}

.footer-brand p {
  color: #bdbdbd;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons i {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #3a3a3a;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons i:hover {
  background: #b02a8f;
}

.footer-column h4 {
  margin-bottom: 15px;
}

.footer-column a {
  display: block;
  color: #bdbdbd;
  text-decoration: none;
  margin-bottom: 10px;
  transition: 0.3s;
}

.footer-column a:hover {
  color: #fff;
}

/* FOOTER BOTTOM */
.footer-bottom {
  border-top: 1px solid #3a3a3a;
  margin-top: 40px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #bdbdbd;
  font-size: 14px;
}